@mixin ts_responsive($property, $small, $medium, $large){
    #{$property}: $small;

    @media(min-width:576px) {
        #{$property}: $medium;                
    }

    @media(min-width: 992px){
        #{$property}: $large;
    }
}

@mixin ts-box-shadow($color, $blur: 10px) {
  //box-shadow: 0 0 $color $blur;
  box-shadow: 0 4px 6px rgba(208, 26, 26, 0.1);
}

@mixin ts-border-radius($radius) {
  @if $radius==0 {
    border-radius: 0;
  } @else {
    border-radius: $radius;
  }
}


