//Define some reusable variables for colors, fonts, and dimensions.

$primary-color: #889190;
$secondry-color: #899291;
$background-color: white;
$font-family: 'Roboto', sans-serif;
$font-size: 14px;
$font-color: black;
$header-title: #091E39;

//Buttons
$button-background-color: 007bff;
$button-hover-color: #0056b3;
$button-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);